<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyiblog.mapper.BlogUserLikeMapper">
    
    <resultMap type="BlogUserLike" id="BlogUserLikeResult">
        <result property="userId"    column="user_id"    />
        <result property="articleId"    column="article_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBlogUserLikeVo">
        select user_id, article_id, create_time from blog_user_like
    </sql>

    <select id="selectBlogUserLikeList" parameterType="BlogUserLike" resultMap="BlogUserLikeResult">
        <include refid="selectBlogUserLikeVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectBlogUserLikeByUserId" parameterType="Long" resultMap="BlogUserLikeResult">
        <include refid="selectBlogUserLikeVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertBlogUserLike" parameterType="BlogUserLike">
        insert into blog_user_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBlogUserLike" parameterType="BlogUserLike">
        update blog_user_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteBlogUserLikeByUserId" parameterType="Long">
        delete from blog_user_like where user_id = #{userId}
    </delete>

    <delete id="deleteBlogUserLikeByUserIds" parameterType="String">
        delete from blog_user_like where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>