<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyiblog.mapper.BlogSubscribeMapper">
    
    <resultMap type="BlogSubscribe" id="BlogSubscribeResult">
        <result property="subscribeId"    column="subscribe_id"    />
        <result property="email"    column="email"    />
        <result property="status"    column="status"    />
        <result property="verifyCode"    column="verify_code"    />
        <result property="verified"    column="verified"    />
        <result property="subscribeTime"    column="subscribe_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogSubscribeVo">
        select subscribe_id, email, status, verify_code, verified, subscribe_time, create_time, update_time from blog_subscribe
    </sql>

    <select id="selectBlogSubscribeList" parameterType="BlogSubscribe" resultMap="BlogSubscribeResult">
        <include refid="selectBlogSubscribeVo"/>
        <where>  
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="verifyCode != null  and verifyCode != ''"> and verify_code = #{verifyCode}</if>
            <if test="verified != null  and verified != ''"> and verified = #{verified}</if>
            <if test="subscribeTime != null "> and subscribe_time = #{subscribeTime}</if>
        </where>
    </select>
    
    <select id="selectBlogSubscribeBySubscribeId" parameterType="Long" resultMap="BlogSubscribeResult">
        <include refid="selectBlogSubscribeVo"/>
        where subscribe_id = #{subscribeId}
    </select>

    <insert id="insertBlogSubscribe" parameterType="BlogSubscribe" useGeneratedKeys="true" keyProperty="subscribeId">
        insert into blog_subscribe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="email != null and email != ''">email,</if>
            <if test="status != null">status,</if>
            <if test="verifyCode != null">verify_code,</if>
            <if test="verified != null">verified,</if>
            <if test="subscribeTime != null">subscribe_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="email != null and email != ''">#{email},</if>
            <if test="status != null">#{status},</if>
            <if test="verifyCode != null">#{verifyCode},</if>
            <if test="verified != null">#{verified},</if>
            <if test="subscribeTime != null">#{subscribeTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBlogSubscribe" parameterType="BlogSubscribe">
        update blog_subscribe
        <trim prefix="SET" suffixOverrides=",">
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="verifyCode != null">verify_code = #{verifyCode},</if>
            <if test="verified != null">verified = #{verified},</if>
            <if test="subscribeTime != null">subscribe_time = #{subscribeTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where subscribe_id = #{subscribeId}
    </update>

    <delete id="deleteBlogSubscribeBySubscribeId" parameterType="Long">
        delete from blog_subscribe where subscribe_id = #{subscribeId}
    </delete>

    <delete id="deleteBlogSubscribeBySubscribeIds" parameterType="String">
        delete from blog_subscribe where subscribe_id in 
        <foreach item="subscribeId" collection="array" open="(" separator="," close=")">
            #{subscribeId}
        </foreach>
    </delete>
</mapper>