<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyiblog.mapper.BlogSiteConfigMapper">
    
    <resultMap type="BlogSiteConfig" id="BlogSiteConfigResult">
        <result property="configId"    column="config_id"    />
        <result property="configName"    column="config_name"    />
        <result property="configKey"    column="config_key"    />
        <result property="configValue"    column="config_value"    />
        <result property="configType"    column="config_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogSiteConfigVo">
        select config_id, config_name, config_key, config_value, config_type, create_time, update_time from blog_site_config
    </sql>

    <select id="selectBlogSiteConfigList" parameterType="BlogSiteConfig" resultMap="BlogSiteConfigResult">
        <include refid="selectBlogSiteConfigVo"/>
        <where>  
            <if test="configName != null  and configName != ''"> and config_name like concat('%', #{configName}, '%')</if>
            <if test="configKey != null  and configKey != ''"> and config_key = #{configKey}</if>
            <if test="configValue != null  and configValue != ''"> and config_value = #{configValue}</if>
            <if test="configType != null  and configType != ''"> and config_type = #{configType}</if>
        </where>
    </select>
    
    <select id="selectBlogSiteConfigByConfigId" parameterType="Long" resultMap="BlogSiteConfigResult">
        <include refid="selectBlogSiteConfigVo"/>
        where config_id = #{configId}
    </select>

    <insert id="insertBlogSiteConfig" parameterType="BlogSiteConfig" useGeneratedKeys="true" keyProperty="configId">
        insert into blog_site_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configName != null">config_name,</if>
            <if test="configKey != null">config_key,</if>
            <if test="configValue != null">config_value,</if>
            <if test="configType != null">config_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configName != null">#{configName},</if>
            <if test="configKey != null">#{configKey},</if>
            <if test="configValue != null">#{configValue},</if>
            <if test="configType != null">#{configType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBlogSiteConfig" parameterType="BlogSiteConfig">
        update blog_site_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="configName != null">config_name = #{configName},</if>
            <if test="configKey != null">config_key = #{configKey},</if>
            <if test="configValue != null">config_value = #{configValue},</if>
            <if test="configType != null">config_type = #{configType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where config_id = #{configId}
    </update>

    <delete id="deleteBlogSiteConfigByConfigId" parameterType="Long">
        delete from blog_site_config where config_id = #{configId}
    </delete>

    <delete id="deleteBlogSiteConfigByConfigIds" parameterType="String">
        delete from blog_site_config where config_id in 
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>
</mapper>